{% extends 'base.html' %}
{% block body %}
    <div id="div-top">
        {% if not forget %}
            <form action="{{ url_for("admin_bp.change_password") }}" id="change_form" method="post">
                <div>
                    <input type="password" name="original_pwd" id="original" class="my_input">
                </div>
                <div>
                    <input type="password" name="new_pwd" id="new_pwd" class="my_input">
                </div>
                <div>
                    <input type="password" name="repeat" id="repeat" class="my_input">
                </div>
                <div>
                    <button class="change-btn" id="submit">提交修改</button>
                </div>
                <div>
                    <button class="change-btn" id="forget" type="button"
                            onclick="window.location = '{{ url_for("admin_bp.cp_retrieve_application") }}'">忘记密码?
                    </button>
                </div>
            </form>
        {% else %}
            <form action="{{ url_for("admin_bp.change_password") }}" id="change_form" method="post">
                <input type="text" name="key" hidden value="{{ key }}">
                <input type="text" name="mail" hidden value="{{ mail }}">
                <div>
                    <input type="password" name="new_pwd" id="new_pwd" class="my_input">
                </div>
                <div>
                    <input type="password" name="repeat" id="repeat" class="my_input">
                </div>
                <div>
                    <button class="change-btn" id="recovery" type="button">重新输入
                    </button>
                    <button class="change-btn" id="submit">提交修改</button>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
{% block my_script %}
    <link rel="stylesheet" href="/static/templates/admin-change/password.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/templates/admin-change/password.js"></script>
{% endblock %}