{% extends 'base.html' %}
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
{% block body %}
    {% if errtext %}
        <i hidden id="errtext-i"></i>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        {{ errtext.title }}
                    </h4>
                </div>
                <div class="modal-body">
                    {{ errtext.text|safe }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消操作
                    </button>
                    <a type="button" class="btn btn-primary" href="{{ errtext.url }}">
                        继续删除
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <button data-toggle="modal" data-target="#myModal" hidden id="errtext"></button>
    {% endif %}
    <div class="container">
    <div class="row" style="min-height: 447px">
        <table class="table table-striped custom-table table-hover">
            <thead>
            <tr>
                <th width="6%"><i class="fa fa-bookmark-o"></i> 编号</th>
                <th width="16%"><i class=" fa fa-edit"></i> 地址</th>
                <th width="35%"><i class="fa fa-bar-chart-o"></i> 货物名称
                    <i class="fa fa-cubes"></i> 重量体积</th>
                <th width="%"><i class="fa fa-building-o"></i> 姓名</th>
                <th width="%" class="hidden-xs"><i class=""></i> 日期时间</th>
                <th width="%"class="hidden-xs"><i class=""></i> 操作</th>
            </tr>
            </thead>
            <tbody id="tb">
            {% for i in d %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.province_name.area_name }} {{ i.city_name.area_name }} {{ i.area_name.area_name }}</td>
                    <td>
                        {% for ii in i.oids %}
                            {{ '|' }}{{ ii.productname}}{{ '|' }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for ii in i.oids %}
                            {{ '|' }}{{ ii.count }}件{{ ii.measure}}{{ '吨' if ii.measureunit==0 else '方' }}{{ '|' }}
                        {% endfor %}
                    </td>
                    <td>{{ i.user }}</td>
                    <td>{{ i.createtime.strftime('%Y-%m-%d %H:%M') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
        <div>
            <i class="fa fa-print  btn btn-info btn-lg" style="float: left;line-height: 25px;margin: 0 5px 0 0" id="printer"></i>
            <i class="fa fa-close btn btn-dark btn-lg" style="float: left;line-height: 25px" id="closeP"></i>
            <ul class="pagination pagination-lg pages" id="pages" style="padding-left: 32%;margin: 0px;" >
            </ul>
        </div>
    <p id="searchCount"></p>
    <form id="myform">
        <div class="row">
        <label for="province">省</label>
        <select name="province" id="province" va="city" onchange="pca(this.value,this.id),c()" >
                    <option value="0">请选择</option>
                    <option value="10">河北</option>
                    <option value="23">山西</option>
        </select>
        <label for="city">市</label>
        <select name="city" id="city" va="area" onclick="pca(this.value,this.id),c()">
            <option value="0">请选择</option>
        </select>
        <label for="area" >区</label>
        <select name="area" id="area" onchange="c()">
                    <option value="0">请选择</option>
        </select>
        <label for="user">收货人</label>
        <input type="text" name="user" oninput="c()" id="user" list="num" autocomplete="off">
        <label for="phone">手机</label>
        <input type="text" name="phone" oninput="c()" list="phone" autocomplete="off">
        <label for="">付款方式</label>
        <label for="payment0">现付</label>
        <input type="radio" name="payment" value="0" id="payment0" onclick="c()" >
        <label for="payment1">提付</label>
        <input type="radio" name="payment" value="1" id="payment1" onclick="c()">
        <input type="text" class="date"  name="StartDate" placeholder="起始日期">
        <i class="fa fa-refresh btn " style="font-size: 20px"
           onclick="jquery:{$(':input').val('');$('#province').val(0);$('#city').val(0);$('#area').val(0);c()}">

        </i>
        </div>
        <div class="row">
            <label for="count">件数</label>
            <input type="text" name="count" id="count" style="width: 44px" oninput="c()">
            <label for="price">金额</label>
            <input type="text" name="price" id="price" style="width: 154px;text-align: right"  oninput="c()">
            <label for="remarks">备注</label>
            <textarea name="remarks" id="remarks" cols="44" rows="1" style="vertical-align: top;width: 332px" oninput="c()"></textarea>
            <button class="btn btn-success btn-xs" type="button" id="remarksBTN"><i class="fa fa-spinner fa-spin"></i></button>
            <label for="">提货方式</label>
            <label for="receipt0">自提</label>
            <input type="radio" name="receipt" value="0" id="receipt0" onclick="c()">
            <label for="receipt1">送货</label>
            <input type="radio" name="receipt" value="1" id="receipt1" onclick="c()">
            <input type="text" class="date"  name="EndDate" placeholder="截至日期">
        </div>
    </form>
        <datalist id="num" name="num">
        </datalist>
        <datalist id="phone"></datalist>
        <div id="remarksLIST" hidden style="position: absolute">
            <ul class="nav nav-pills nav-stacked ">
                {% if remarks %}
                    {% for i in remarks %}
                        <li class="btn btn-success">{{ i.text }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
    <form action="/printer/" id="PrinterForm" method="post">
        <input type="text" id="FormList" name="FormList" hidden>
    </form>
    <style>
    input[type=checkbox]{
        width: 20px;
        height: 20px;
    }
    tr:hover{
        border: solid 1px;
        font-size: 15px;
    }
    </style>
{% endblock %}
{% block my_script %}
    <link rel="stylesheet" href="/static/css/ion.calendar.css">
    <script src="/static/templates/showlist/showlist.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/moment.zh-cn.js"></script>
    <script src="/static/js/ion.calendar.js"></script>
{% endblock %}